:root {
  --primary-color: #151515;
  --secondary-color: #FFFFFF;
  --success-color: #CBFC01;
  --info-color: #66BFBF;
  --warning-color: #FAF4B7;
  --danger-color: #EB4747;
  --light-color: #FEFBF6;
  --dark-color: #3D3C42;
}
